[user]
	name = Uditha Karunaratne
	email = udithaindika@gmail.com
[core]
	editor = code --wait
[alias]
    st = status
    ci = commit -m
    br = branch
    co = checkout
    df = diff
    dc = diff --cached
    lg = log -p
    who = shortlog -s --
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
